# 1. Dependencies
/node_modules
/.pnpm-debug.log*

# 2. Next.js Build Outputs
/.next/
/out/
/build
/dist


.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.bak

# 4. Prisma

/prisma/*.db
/prisma/*.db-journal
# Migration logs
/prisma/migrations/migration_lock.toml

# 5. Playwright (Bonus Script Results)
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# 6. Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs
*.log

# 7. OS & Editor Specific
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 8. TypeScript
*.tsbuildinfo
next-env.d.ts

